body {
  color: $primary-text-color;
  background-color: $primary-background-color;
  font-family: $montserrat-fonts, $seymour-fonts;
  font-style: normal;
  letter-spacing: 0.04em;

  & ul {
    list-style-type: none;
  }
}
address {
  font-style: inherit;
}
button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-family: inherit;
}

.icon_page {
  fill: $button-background-color;
}
