h1 {
  font-weight: 900;
  font-size: var(--fs-400);
  line-height: 1.3636;
  letter-spacing: 0.06em;
}

h2 {
  font-weight: 700;
  font-size: var(--fs-300);
  // font-size: 2.25rem;
  // line-height: 1.1666;
  padding-bottom: 3.125rem;
}

h3 {
  font-weight: 500;
  font-size: var(--fs-200);
  // font-size: 1rem;
  // line-height: 1.18;
}

.small {
  font-weight: 400;
  font-size: var(--fs-small);
}

body {
  font-weight: 400;
  font-size: var(--fs-small);
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.7142;
}

h1,
h2,
h3 {
  text-align: center;
  margin-top: 0;
}
