@use './../abstracts/fonts' as *;
/* Typography - 
 * separate ::root part for font definitions in the form of css variables {--}.
 * Examples:
 *   --fs-body: var(--fs-400);
 *   --fs-primary-heading: var(--fs-800);
 *   --fs-secondary-heading: var(--fs-700);
 *   --fs-nav: var(--fs-500);
 *   --fs-button: var(--fs-300);
 *
 */

:root {
  --fs-300: 0.75rem; /* 12px = 0.75rem */
  --fs-400: 0.875rem; /* 14px = 0.875rem */
  --fs-500: 1rem; /* 16px = 1rem */
  --fs-600: 1.125rem; /* 18px = 1.125rem */
  --fs-700: 1.25rem; /* 20px = 1.25rem */
  --fs-800: 1.875rem; /* 30px = 1.875rem */
  --fs-900: 2.125rem; /* 34px = 2.125rem */
  --fs-1000: 2.25rem; /* 36px = 2.25rem */
  --ff-primary: #{$primary-fonts};
}

@media (min-width: 48rem) {
  :root {
    --fs-1100: 3.5rem; /* 56px = 3.5rem */
    --fs-1200: 3.625rem; /* 58px = 3.625rem */
  }
}


// ccc {
//   color: $primary-fonts;
// }
