body {
  color: #131313;
  background-color: #aec6a5;
  font-family: "Montserrat", sans-serif;
}

address {
  font-style: inherit;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-family: inherit;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.section__contact {
  padding: 0 0 60px 0;
}

.contact__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact__item {
  padding: 40px 32px 24px 32px;
  width: 280px;
  background-color: #FCFCFC;
  border-radius: 24px;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
}
.contact__item:not(:last-child) {
  margin-bottom: 16px;
}

.contact-component__item {
  margin-bottom: 24px;
}
.contact-component__item:nth-child(2) {
  padding: 24px 0;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.contact-component__text {
  color: #131313;
  font-size: 12px;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.04em;
}
.contact-component__text--category {
  line-height: 120%;
  display: inline-block;
  padding: 4px 22px;
  background-color: #F8D24E;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  border-radius: 4px;
}
.contact-component__text--adress {
  color: #d6936d;
  line-height: 183%;
  margin-top: 8px;
}

.pg-header {
  padding-top: 20px;
  align-items: center;
}
.pg-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pg-header__nav {
  display: flex;
}
@media (max-width: 1199px) {
  .pg-header__nav {
    display: none;
  }
}
.pg-header__menu-button {
  width: 32px;
  height: 32px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  margin-left: auto;
  margin-right: 32px;
  background-color: green;
}
@media (max-width: 480px) {
  .pg-header__menu-button {
    margin-right: 0px;
  }
}
@media (min-width: 1200px) {
  .pg-header__menu-button {
    display: none;
  }
}

.pg-header__logo-mobile.pg-header__ise-logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.pg-header-nav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
}
.pg-header-nav__link {
  display: inline-block;
}
.pg-header-nav__item:not(:last-child) {
  margin-right: 28px;
}

.modal__cross.pg-header__modal-cros {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 280px;
    margin: 0 auto 0;
    border: 1px solid crimson;
  }
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 440px;
    margin: 0 auto 0;
    border: 1px solid red;
  }
}
@media screen and (min-width: 767px) {
  .container {
    max-width: 704px;
    margin: 0 auto 0;
    border: 1px solid orangered;
  }
}
@media screen and (min-width: 1199px) {
  .container {
    max-width: 1168px;
    margin: 0 auto 0;
    border: 1px solid orange;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */