// Główny plik dla stylów.
// Wszystkie partials podłączamy tutaj.

// NIE ZMIENIAĆ!!! TYLKO ZA POMCĄ @import DOBRZE INPORTUJE ZMIENNE

@import 'base/reset';

@import 'abstracts/colors';
@import 'abstracts/fonts';
@import 'abstracts/mixins';

@import 'base/base';
@import 'base/typography';

@import 'components/buttons';
@import 'components/modal';
@import 'components/navigation';
@import 'components/social-media';

@import 'layout/about-modal';
@import 'layout/about';
@import 'layout/advantages';
@import 'layout/backdrop';
@import 'layout/contacts-modal';
@import 'layout/contacts';
@import 'layout/customer-reviews';
@import 'layout/footer';
@import 'layout/gallery';
@import 'layout/header-modal';
@import 'layout/header';
@import 'layout/hero';
@import 'layout/products-modal';
@import 'layout/products';
@import 'layout/read-more-modal';

@import 'utils/container';
@import 'utils/is-hidden';
@import 'utils/visually-hidden';
