// Główny plik dla stylów.
// Wszystkie partials podłączamy tutaj.

// Style dla pliku z przykładem HTML fragmentu
//@import './example';


.container {
    max-width: calc(100vw - 2rem);
    margin: 0 auto 0;
    border: 1px solid blue;
}