// Główny plik dla stylów.
// Wszystkie partials podłączamy tutaj.

// Style dla pliku z przykładem HTML fragmentu
@import './example';
@use 'base/root';
@use 'base/reset';
@use 'utils';
@use 'base/typography';
@use 'layout/header';
@use 'components';
@use 'layout/footer';


