$primary-background-color: #84A178;
$secondary-background-color: #FCFCFC;
$primary-text-color: #131313;
$secondary-text-color: #FCFCFC;
$third-text-color: #F8D24E;
$tablet-header-description-color: #FFFFFF;
$header-logo-color: #F8D24E;
$button-text-color: #000000;
$button-background-color: #F8D24E;
$first-product-card-color: #AEC6A5;
$first-product-shadow-color: rgba(156, 190, 143, 0.7);
$second-product-card-color: #EFD478;
$second-product-shadow-color: rgba(248, 210, 78, 0.7);
$third-product-card-color: #D6936D;
$third-product-shadow-color: rgba(213, 117, 63, 0.7);
// $third-section-background-color: #84A178;
$icon-color: #000000;
$icon-background-color: #F8D24E;
$clients-opinions-nav-active: #84A178;
$client-opinions-nav: #D9D9D9;
$address-text-color: #D6936D;
$hours-mobile-text-color: #ABABAB;
$hours-tablet-text-color: #907E82;
$all-rights-text-color: #7A7A7A;
$horizontal-line-color: #E1E1E1;
$mobile-open-button-color: #FFFFFF;
$mobile-close-button: #FCFCFC;
$mobile-menu-links-color: #FCFCFC;
$mobile-menu-links-hover-color: #131313;
$modal-border-color: #F8D24E;
$ingredients-ellipse-color: #9CBE8F;
$input-border-color: #84A178;
$input-background-color: rgba(248, 210, 78, 0.1);
$produckt-modal-first-item: #96AF8C;
$produckt-modal-first-item-shadow: rgba(156, 190, 143, 0.7);
$produckt-modal-second-item: #EFD478;
$produckt-modal-second-item-shadow: rgba(248, 210, 78, 0.7);
$produckt-modal-third-item: #D6936D;
$produckt-modal-third-item-shadow: rgba(213, 117, 63, 0.7);
