$montserrat-fonts: 'Montserrat';
$seymour-fonts: 'Seymour One';

//wielkość
$fs12: 12px;
$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
$fs20: 20px;
$fs22: 22px;
$fs30: 30px;
$fs34: 34px;
$fs36: 36px;
$fs14: 48px;
$fs14: 58px;

//grubość
$fw400: 400;
$fw400: 500;
$fw400: 600;
$fw400: 700;
$fw400: 800;
$fw400: 900;