/* @mixins - 
 * are something that helps in reducing the effort of writing long codes
 * or reusable codes. The best example would be media queries. 
 * They are really effective and easy to use.
 *
 */



@mixin font($fw, $fs, $lh, $ls) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}

