@media screen and (min-width: 320px) {
    .container {
    max-width: calc(100vw - 40px);  //280px
    margin: 0 auto 0;
} 
}
@media screen and (min-width: 480px) {
    .container {
        max-width: calc(100vw - 40px); //440px
        margin: 0 auto 0;
    }
}

@media screen and (min-width: 767px) {
    .container {
        max-width: calc(100vw - 63px); //704px
        margin: 0 auto 0;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1168px; //1168px
        margin: 0 auto 0;
        padding: 0;
    }
}

