<div class="backdrop is-hidden" location-modal>
    <div class="modal-loc">
        <button type="button" class="modal-loc__close-btn" location-close="">
            <svg class="modal-loc__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-close-line">
                </use>
            </svg>
        </button>
        <h2 class="modal-loc__title">Our Locations</h2>
        <iframe class="modal-loc__frame" width="224" height="199"
            src="https://www.google.com/maps/d/u/4/embed?mid=10A5pQGfCubwr38YBlwBycsSxgMWQ2V8&ehbc=2E312F"
            title="GOOGLE map"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>

        <a href="https://www.google.com/maps/d/u/4/embed?mid=10A5pQGfCubwr38YBlwBycsSxgMWQ2V8&ehbc=2E312F"
            target="_blank" rel="nofollow noindex noopener" class="modal-loc__btn">
            Open map
        </a>
    </div>
</div>