<div class="backdrop is-hidden" location-modal>
    <div class="modal-loc">
        <button type="button" class="modal-loc__close-btn" location-close="">
            <svg class="modal-loc__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-close-line">
                </use>
            </svg>
        </button>
        <h2 class="modal-loc__title">Our Locations</h2>
        <iframe class="modal-loc__frame" width="224" height="199"
            src="https://www.google.com/maps/d/embed?mid=1S_eAhcGH5uVEmKd9dZSI1lgEDczPA_Y&ehbc=2E312F"
            title="GOOGLE map"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>

        <a href="https://www.google.com/maps/d/embed?mid=1S_eAhcGH5uVEmKd9dZSI1lgEDczPA_Y&ehbc=2E312F" target="_blank"
            rel="nofollow noindex noopener" class="modal-loc__btn">
            Open map
        </a>
    </div>
</div>

<div class="backdrop is-hidden" franchise-modal>
    <div class="modal-fran">
        <button type="button" class="modal-fran__close-btn" franchise-close="">
            <svg class="modal-fran__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-close-line">
                </use>
            </svg>
        </button>
        <h2 class="modal-fran__title">Thank you for your interest in owning an Ice Cream shop</h2>
        <p class="modal-fran__text">Due to the overwhelming volume of franchise requests we are not accepting new
            franchisee applications at this time. Once
            the application process resumes, we will contact you for further information. Please fill out the contact
            information
            below and we will reach out for additional information. We appreciate your patience.</p>
        <form class="modal-fran__form">
            <input class="modal-fran__input" type="text" required placeholder="Name" pattern="^[a-zA-Z]+$"
                title="Name should contain letters only." />
            <input class="modal-fran__input" type="tel" required placeholder="Phone" pattern="^[0-9]+$"
                title="Phone number should contain numbers only." />
            <input class="modal-fran__input" type="email" required placeholder="Email" />
            <textarea class="modal-fran__input modal-fran__comment" name="comment" placeholder="Comment" cols="30"
                rows="10"></textarea>
            <button class="submit-btn button" type="submit">Submit</button>
        </form>
    </div>
</div>