<section class="section section__contact" id="contact">
    <div class="container">
        <h2 class="visually-hidden">Contact us</h2>
        <ul class="contact__list">
            <li class="contact__item">
                <ul class="contact-component__list">
                    <li class="contact-component__item">
                        <p class="contact-component__text contact-component__text--category">CAFE</p>
                        <p class="contact-component__text">Chicago</p>
                        <a class="contact-component__text contact-component__text--adress link"
                            href="https://goo.gl/maps/FBS4q8AC6m2BgDzY9" target="_blank"
                            rel="noopener noreferrer nofollow">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                    </li>
                    <li class="contact-component__item">
                        <ul>
                            <li class="contact-component__item-gap">
                                <p class="contact-component__text">Monday - Friday</p>
                                <p class="contact-component__text contact-component__text--time">
                                    <time>06:00</time>&nbspAM -
                                    <time>10:00</time>&nbspPM
                                </p>
                            </li>
                            <li>
                                <p class="contact-component__text">Saturday - Sunday</p>
                                <p class="contact-component__text contact-component__text--time">
                                    <time>08:00</time>&nbspAM -
                                    <time>04:00</time>&nbspPM
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li class="contact-component__item">
                        <ul class="contact-component__link">
                            <li><a class="contact-component__tel link" href="tel:+610383766284">+61(0) 383 766 284</a>
                            </li>
                            <li><a class="contact-component__email link"
                                    href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="contact__item">
                <ul class="contact-component__list">
                    <li class="contact-component__item">
                        <p class="contact-component__text contact-component__text--category">FOODTRUCK</p>
                        <p class="contact-component__text">Los Angeles</p>
                        <a class="contact-component__text contact-component__text--adress link"
                            href="https://goo.gl/maps/qTJgokhE9uhxymWY9" target="_blank"
                            rel="noopener noreferrer nofollow">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
                    </li>
                    <li class="contact-component__item">
                        <ul>
                            <li class="contact-component__item-gap">
                                <p class="contact-component__text">Monday - Friday</p>
                                <p class="contact-component__text contact-component__text--time">
                                    <time>06:00</time>&nbspAM -
                                    <time>10:00</time>&nbspPM
                                </p>
                            </li>
                            <li>
                                <p class="contact-component__text">Saturday - Sunday</p>
                                <p class="contact-component__text contact-component__text--time">
                                    <time>08:00</time>&nbspAM -
                                    <time>04:00</time>&nbspPM
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li class="contact-component__item">
                        <ul class="contact-component__link">
                            <li><a class="contact-component__tel link" href="tel:+610383766284">+61(0) 383 766 284</a>
                            </li>
                            <li><a class="contact-component__email link"
                                    href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="contact__item">
                <ul class="contact-component__list">
                    <li class="contact-component__item">
                        <p class="contact-component__text contact-component__text--category">CAFE</p>
                        <p class="contact-component__text">New York</p>
                        <a class="contact-component__text contact-component__text--adress link"
                            href="https://goo.gl/maps/YP9BEBLwvVKaNXp69" target="_blank"
                            rel="noopener noreferrer nofollow">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
                    </li>
                    <li class="contact-component__item">
                        <ul>
                            <li class="contact-component__item-gap">
                                <p class="contact-component__text">Monday - Friday</p>
                                <p class="contact-component__text contact-component__text--time">
                                    <time>06:00</time>&nbspAM -
                                    <time>10:00</time>&nbspPM
                                </p>
                            </li>
                            <li>
                                <p class="contact-component__text">Saturday - Sunday</p>
                                <p class="contact-component__text contact-component__text--time"><time>08:00</time>AM -
                                    <time>04:00</time>PM
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li class="contact-component__item">
                        <ul class="contact-component__link">
                            <li><a class="contact-component__tel link" href="tel:+610383766284">+61(0) 383 766 284</a>
                            </li>
                            <li><a class="contact-component__email link"
                                    href="mailto:noreply@envato.com">noreply@envato.com</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- BUTTONS -->

        <ul class="contact-btn__list">
            <li class="contact-btn__item">
                <button class="contact-btn__btn" type="button" data-modal-open>Our Locations<svg
                        class="contact-btn__icon" width="12" height="12">
                        <use href="./images/icons.svg#icon-ep_arrow-right-bold"></use>
                    </svg>
                </button>
            </li>
            <li class="contact-btn__item">
                <button class="contact-btn__btn contact-btn__btn--franchise" type="button" data-modal-open>Franchise<svg
                        class="contact-btn__icon" width="12" height="12">
                        <use href="./images/icons.svg#icon-ep_arrow-right-bold"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>