<section class = fill>
    <div class="container">
        <div class="customer">
            <div class = "customer__icecrem">
                <img src="./images/Mobile/mobile-lying-ice-cream@2x.jpg" alt="icecrem">
            </div>
            <div class ="customer__scroll">
                <div class="customer__foto">
                    <img src="./images/Mobile/mobile-emily@1x.jpg" width="85" height="85" alt="woman">
                </div>
                <div class="customer__reviews">
                    <p>I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
                </div>
                <div class="customer__name">
                    <span>Emily, Los Angeles</span>
                </div>
            </div>
            <div class ="customer__scroll">
                <div class="customer__foto">
                    <img src="./images/bryan@1x.jpg" width="85" height="85" alt="man">
                </div>
                <div class="customer__reviews">
                    <p>Every day we come to you with friends after classes in college. We love your ice cream and casual atmosphere!</p>
                </div>
                <div class="customer__name">
                    <span>Bryan, New-York</span>
                </div>
            </div>
            <div class ="customer__scroll">
                <div class="customer__foto">
                    <img src="./images/diana@1x.jpg" width="85" height="85" alt="woman">
                </div>
                <div class="customer__reviews">
                    <p>Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service - always served politely and quickly!</p>
                </div>
                <div class="customer__name">
                    <span>Diana, Chicago</span>
                </div>
            </div>
            <div class="customer__buttons">
                <ul>
                    <li><button type="button"></button></li>
                    <li><button type="button"></button></li>
                    <li><button type="button"></button></li>
                </ul>
            </div>
        </div>
    </div>
</section>