<section class = fill>
    <div class="container">
        <div class="customer">
            <div class = "customer__icecrem">
                <img src="./images/Mobile/mobile-lying-ice-cream@2x.jpg" alt="icecrem">
            </div>
            <div class="customer__foto">
                <img src="./images/Mobile/mobile-emily@1x.jpg" width="85" height="85" alt="woman">
            </div>
            <div class="customer__reviews">
                <p>I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
            </div>
            <div class="customer__name">
                <span>Emily, Los Angeles</span>
            </div>
            <div class="customer__buttons">
                <ul>
                    <li><button type="button"></button></li>
                    <li><button type="button"></button></li>
                    <li><button type="button"></button></li>
                </ul>
            </div>
        </div>
    </div>
</section>