<footer class="pg-footer">
  <div class="pg-footer__container container">
    <div class="pg-footer__main-wrapper">
      <div class="pg-footer__slogan-wrapper">
        <p class="pg-footer__slogan>">
          HOMEMADE ICE CREAM MADE <span class="pg-footer__slogan--accent">WITH PASSION</span>
        </p>
      </div>
      <div class="pg-footer__find-us-wrapper">
        <div class="pg-footer__social-wrapper">
          <ul class="pg-footer__social-list">
            <li class="pg-footer__social-item">
              <svg class="pg-footer__cocial-icon" width="34" height="34">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </li>
            <li class="pg-footer__social-item">
              <svg class="pg-footer__cocial-icon" width="34" height="34">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </li>
            <li class="pg-footer__social-item">
              <svg class="pg-footer__cocial-icon" width="34" height="34">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </li>
          </ul>
        </div>
        <div class="pg-footer__contact-phone">
          <p class="pg-footer--cta-phone">Feel free to contact</p>
          <a class="pg-footer__phone-no" href="tel:+610383766284">+61 (0) 383 766 284</a>
        </div>
      </div>
    </div>
    <div class="pg-footer__copyrights-wrapper"></div>
    <p class="pg-footer__copyrigts-text">&#169; 2022 - IceCream.</p>
    <p class="pg-footer__copyrigts-text">All Rights Reserved.</p>
  </div>
</footer>
