<footer class="pg-footer">
      <div class="pg-footer__container container">
        <div class="pg-footer__main-wrapper">
          <div class="pg-footer__slogan-wrapper">
            <p class="pg-footer__slogan>">HOMEMADE ICE CREAM MADE</p>
            <p class="pg-footer__slogan--accent">WITH PASSION</p>
          </div>
          <div class="pg-footer__find-us-wrapper">
            <div class="social-media">
              <ul class="social-media__list">
                <li class="social-media__item">
                  <a
                    href="https://github.com/"
                    aria-label="Find us on GitHub"
                    target="_blank"
                    rel="nofollow noopener noreferrer"
                    class="social-media__link"
                  >
                    <div class="social-media__icon-wrapper">
                      <svg class="social-media__icon" width="20" height="20">
                        <use href="./images/icons.svg#icon-github"></use>
                      </svg>
                    </div>
                  </a>
                </li>
                <li class="social-media__item">
                  <a
                    href="https://telegram.org/"
                    aria-label="Find us on Telegram"
                    target="_blank"
                    rel="nofollow noopener noreferrer"
                    class="social-media__link"
                  >
                    <div class="social-media__icon-wrapper">
                      <svg class="social-media__icon" width="20" height="16">
                        <use href="./images/icons.svg#icon-telegram"></use>
                      </svg>
                    </div>
                  </a>
                </li>
                <li class="social-media__item">
                  <a
                    href="https://www.facebook.com/"
                    aria-label="Find us on Facebook"
                    target="_blank"
                    rel="nofollow noopener noreferrer"
                    class="social-media__link"
                  >
                    <div class="social-media__icon-wrapper">
                      <svg class="social-media__icon" width="9" height="20">
                        <use href="./images/icons.svg#icon-facebook"></use>
                      </svg>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <div class="pg-footer__contact-phone">
              <p class="pg-footer__cta-phone">Feel free to contact</p>
              <a class="pg-footer__phone-no-link" href="tel:+610383766284">
                +61 (0) 383 766 284</a
              >
            </div>
          </div>
        </div>
        <div class="pg-footer__copyrights-wrapper">
          <p class="pg-footer__copyrigts-text">&#169; 2022 - IceCream.</p>
          <p class="pg-footer__copyrigts-text">All Rights Reserved.</p>
        </div>
      </div>
    </footer>