<header class="pg-header" id="home">
  <!-- Kontener z headerem -->
  <div class="container pg-header__container">
    <!-- Poniżej wstawiam logo -->
    <a class="pg-header__logo-desktop" href="#home">
      <picture>
        <source srcset="./images/logo_tablet.png" media="(max-width:768px)" />
        <img src="./images/logo.png" alt="logo" />
      </picture>
    </a>
    <!-- Poniżej wstawiam ikonę 'burgera' do otwierania mobile menu -->
    <button
      class="pg-header__menu-button button__mobile-menu js-open-modal"
      type="button"
      data-modal="2"
    >
      <svg class="mobile-icon" width="32" height="32" aria-label="menu">
        <use class="pg-header__icon-menu" href="./images/icons.svg#icon-mobile-menu"></use>
      </svg>
    </button>
    <!-- Poniżej wstawiam menu mobilne jako okno modalne -->
    <div class="pg-header__mobile-menu modal" data-modal="2">
      <a class="pg-header__logo-mobile pg-header__ise-logo" href="#"
        ><img src="./images/logo_tablet.png" alt="logo"
      /></a>
      <!-- Ikona do zamknięcia okna -->
      <button type="button">
        <svg class="pg-header__modal-cros js-modal-close" width="32" height="32">
          <use href="./images/mob-menu-close.svg#icon-mob-menu_close"></use>
        </svg>
      </button>
      <!-- Lista opcji menu mobilnego -->
      <ul class="pg-header__mobile-menu-list">
        <li class="pg-header__mobile-menu-item">
          <a class="pg-header__mobile-menu-link js-modal-close" href="#home">Home</a>
        </li>
        <li class="pg-header__mobile-menu-item">
          <a class="pg-header__mobile-menu-link js-modal-close" href="#how-its-made"
            >How it's made?</a
          >
        </li>
        <li class="pg-header__mobile-menu-item">
          <a class="pg-header__mobile-menu-link js-modal-close" href="#our-products"
            >Our products</a
          >
        </li>
        <li class="pg-header__mobile-menu-item">
          <a class="pg-header__mobile-menu-link js-modal-close" href="#contact">Contact</a>
        </li>
      </ul>
      <!-- Przycisk 'Buy now' -->
      <button class="pg-header-tab-desk__in-menu button js-open-modal" type="button" data-modal="1">
        Buy now
        <!-- Ikona strzałki na przycisku -->
        <svg width="12" height="12" class="button__arrow">
          <use href="./images/icons.svg#icon-ep_arrow-right-bold"></use>
        </svg>
      </button>
    </div>
    <!-- Poniżej wstawiam menu desktopowe -->
    <nav class="pg-header__nav" id="menu">
      <ul class="pg-header-nav__list">
        <li class="pg-header-nav__item">
          <a href="#home" class="pg-header-nav__link">Home</a>
        </li>
        <li class="pg-header-nav__item">
          <a href="#how-its-made" class="pg-header-nav__link">How it's made?</a>
        </li>
        <li class="pg-header-nav__item">
          <a href="#our-products" class="pg-header-nav__link">Our products</a>
        </li>
        <li class="pg-header-nav__item">
          <a href="#contact" class="pg-header-nav__link">Contact</a>
        </li>
      </ul>
    </nav>
    <!-- Przycisk 'Buy now' na desktopie -->
    <button class="pg-header-tab-desk__button button js-open-modal" type="button" data-modal="1">
      Buy now
      <!-- Ikona strzałki na przycisku -->
      <svg width="12" height="12" class="button__arrow">
        <use href="./images/icons.svg#icon-ep_arrow-right-bold"></use>
      </svg>
    </button>
  </div>
</header>
