<div class="modal header-buy-modal" data-modal="1">
  <button type="button" class="modal__cross js-modal-close">
    <svg class="icon-close">
      <use href="./images/icons.svg#icon-close-line"></use>
    </svg>
  </button>
  <h2 class="header-buy-modal__title">Buy now</h2>
  <ul class="header-buy-modal__list">
    <li class="header-buy-modal__item">
      <label class="header-buy-modal__label">
        <input class="header-buy-modal__checkbox" type="checkbox" name="product" value="icecream" />
        <span class="header-buy-modal__product header-buy-modal__product--ice">
          Ice cream
          <img
            class="product-img"
            srcset="./images/modal/buy-now-ice@1x.jpg 1x, ./images/modal/buy-now-ice@2x.jpg 2x"
            src="./images/modal/buy-now-ice@1x.jpg"
            alt="ice-cream"
          />
        </span>
      </label>
    </li>
    <li class="header-buy-modal__item">
      <label class="header-buy-modal__label">
        <input class="header-buy-modal__checkbox" type="checkbox" name="product" value="icecoffe" />
        <span class="header-buy-modal__product header-buy-modal__product--coffee">
          Ice coffee
          <img
            class="product-img"
            srcset="
              ./images/modal/buy-now-coffee@1x.jpg 1x,
              ./images/modal/buy-now-coffee@2x.jpg 2x
            "
            src="./images/modal/buy-now-coffee@1x.jpg"
            alt="ice-coffee"
          />
        </span>
      </label>
    </li>
    <li class="header-buy-modal__item">
      <label class="header-buy-modal__label">
        <input
          class="header-buy-modal__checkbox"
          type="checkbox"
          name="product"
          value="milkshake"
        />
        <span class="header-buy-modal__product header-buy-modal__product--shake"
          >Milkshake
          <img
            class="product-img"
            srcset="./images/modal/buy-now-shake@1x.jpg 1x, ./images/modal/buy-now-shake@2x.jpg 2x"
            src="./images/modal/buy-now-shake@1x.jpg"
            alt="milkshake"
          />
        </span>
      </label>
    </li>
  </ul>
  <form class="header-buy-modal__form">
    <input
      class="header-buy-modal__input buynow-js"
      type="text"
      required
      placeholder="Name"
      pattern="^[a-zA-Z]+$"
      title="Name should contain letters only."
    />
    <input
      class="header-buy-modal__input buynow-js"
      type="tel"
      required
      placeholder="Phone"
      pattern="^[0-9]+$"
      title="Phone number should contain numbers only."
    />
    <textarea
      class="header-buy-modal__input header-buy-modal__comment"
      name="comment"
      placeholder="Comment"
      cols="30"
      rows="10"
    ></textarea>
    <button class="submit-btn button buynow-button-js" type="submit">Submit</button>
  </form>
</div>
