<header class="header" id="home">
  <!-- Kontener z headerem -->
  <div class="container">
    <!-- Poniżej logo -->
    <a class="" href="#home">
      <img src="" alt="logo" />
    </a>
    <!-- Poniżej ikona 'burgera' do otwierania mobile menu -->
    <button class="" type="button" data-modal="2">
      <svg class="" width="32" height="32">
        <use class="" href=""></use>
      </svg>
    </button>
    <!-- Poniżej menu mobilne jako okno modalne -->
    <div class="" data-modal="2">
      <!-- Logo w menu mobilnym -->
      <a class="" href="#"><img src="" alt="logo" /></a>
      <!-- Ikona do zamknięcia okna -->
      <svg class=""></svg>
      <!-- Lista opcji menu mobilnego -->
      <ul class="">
        <li class="">
          <a class="" href="#home">Home</a>
        </li>
        <li class="">
          <a class="" href="#how-its-made">How it's made?</a>
        </li>
        <li class="">
          <a class="" href="#products">Our products</a>
        </li>
        <li class="">
          <a class="" href="#contact">Contact</a>
        </li>
      </ul>
      <!-- Przycisk 'Buy now' -->
      <button class="" type="button" data-modal="1">
        Buy now
        <!-- Ikona strzałki na przycisku -->
        <svg width="12" height="12" class="">
          <use href=""></use>
        </svg>
      </button>
    </div>
    <!-- Poniżej menu desktopowe -->
    <nav class="" id="menu">
      <ul class="">
        <li class="">
          <a href="#home" class="">Home</a>
        </li>
        <li class="">
          <a href="#how-its-made" class="">How it's made?</a>
        </li>
        <li class="">
          <a href="#products" class="">Our products</a>
        </li>
        <li class="">
          <a href="#contact" class="">Contact</a>
        </li>
      </ul>
    </nav>
    <!-- Przycisk 'Buy now' na desktopie -->
    <button class="header-tab-desk__button button js-open-modal" type="button" data-modal="1">
      Buy now
      <!-- Ikona strzałki na przycisku -->
      <svg width="12" height="12" class="">
        <use href=""></use>
      </svg>
    </button>
  </div>
</header>
