<!-- hero -->
<section id="hero" class="hero">
  <div class="container hero__bg">
    <div class="hero_title">
      <h1 class="hero__title-text">ice cream made with passion</h1>
      <ul class="hero__list">
        <li class="hero__item btn-product btn-product__text"><a href="#our-products">Products</a></li>
        <li class="hero__item">
          <a class="hero__link hero__link-text" href="#how-its-made">How it’s made?</a>
        </li>
      </ul>
    </div>
    <div class="hero__content">
      <!-- <div class="hero_img-balls-active animate__animated animate__fadeInTopLeft"> -->
      <!--   <img -->
      <!--     class="hero__img-balls" -->
      <!--     srcset=" -->
      <!--       ./images/hero/hero-ice-balls-tablet-1x.png  152w, -->
      <!--       ./images/hero/hero-ice-balls-tablet-2x.png  304w, -->
      <!--       ./images/hero/hero-ice-balls-desktop-1x.png 225w, -->
      <!--       ./images/hero/hero-ice-balls-desktop-2x.png 450w -->
      <!--     " -->
      <!--     sizes="(min-width: 1200px) 225px, (min-width: 768px) 152px, 100vw" -->
      <!--     src="./images/hero/hero-ice-balls-tablet-1x.png" -->
      <!--     alt="plate with ice-cream balls" -->
      <!--   /> -->
      <!-- </div> -->
      <!-- <div class="hero__picture animate__animated animate__fadeInDownBig"> -->
      <div class="hero__img-box">
        <img
          class="hero__img-ice"
          srcset="
            ./images/mobile/hero-mobile-ice@1x.png   218w,
            ./images/mobile/hero-mobile-ice@2x.png   436w,
            ./images/tablet/hero-tablet-ice@1x.png   268w,
            ./images/tablet/hero-tablet-ice@2x.png   536w,
            ./images/desktop/hero-desktop-ice@1x.png 456w,
            ./images/desktop/hero-desktop-ice@2x.png 912w
          "
          sizes="(min-width: 1200px) 456px, (min-width: 768px) 268px, (min-width: 480px) 218px, 100vw"
          src=" ./images/mobile/hero-mobile-ice@1x.png"
          alt="three scoops of ice cream smiling"
        />
      </div>
    </div>
  </div>
</section>

