<!-- hero -->
<section id="hero" class="hero hero__bg">
  <div class="container">
    <div class="hero__title">
      <h1 class="hero__title-text">
        ice cream made with<span class="hero__title-text hero__title-text--big">passion</span>
      </h1>
    </div>
    <div>
      <ul class="hero__list">
        <li class="hero__item btn-product btn-product__text">
          <a class="btn-product__text" href="#our-products">Products</a>
        </li>
        <li class="hero__item">
          <a class="hero__link hero__link-text" href="#how-its-made">How it’s made?</a>
        </li>
      </ul>
      <ul class="hero__ctu-list">
        <li class="hero__ctu-item hero__ctu-item--cafes">16</li>
        <li class="hero__ctu-item hero__ctu-item--food-trucks">23</li>
      </ul>
    </div>
    <div class="hero__content">
      <div>
        <img class="hero__img-ice-lots" srcset="
            ./images/tablet/tablet-lots-of-icecream@1x.png   152w,
            ./images/tablet/tablet-lots-of-icecream@2x.png   304w,
            ./images/desktop/desktop-lots-of-icecream@1x.png 225w,
            ./images/desktop/desktop-lots-of-icecream@2x.png 450w
          " sizes="(min-width: 1200px) 225px, (min-width: 768px) 152px, 100vw"
          src="./images/tablet/tablet-lots-of-icecream@1x.png" alt="plate with ice-cream balls" />
      </div>
      <a class="hero__content-link" href="">
        <p class="hero__content-text">
          Indulge in a scoop of ice cream made with passion and treat your taste buds to an
          unforgettable experience!
        </p>
        <svg class="hero__arrow" width="40" height="16">
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </a>
    </div>
    <div class="hero__img-box">
      <img class="hero__img-ice" srcset="
          ./images/mobile/hero-mobile-ice@1x.png      177w,
          ./images/mobile/hero-mobile-ice@2x.png      354w,
          ./images/tablet/hero-tablet-ice@1x.png      268w,
          ./images/tablet/hero-tablet-ice@2x.png      536w,
          ./images/desktop/hero-desktop-ice@1x.png    456w,
          ./images/desktop/hero-desktop-ice@2x.png    912w
        " sizes="(min-width: 1200px) 456px, (min-width: 768px) 268px, (min-width: 480px) 218px, 100vw"
        src=" ./images/mobile/hero-mobile-ice@1x.png" alt="three scoops of ice cream smiling" />
    </div>
  </div>
</section>
  </div>
</section>

<!--
          ./images/mobile/hero-mobile-ice-x480@1x.jpg 218w,
          ./images/mobile/hero-mobile-ice-x480@2x.jpg 436w,
-->
