<!-- Sekcja -->
<section class="products">
  <div class="products__flex container">
    <p class="products__main-text">100% natural</p>
    <h2 class="products__main-title">Products</h2>
    <figure class="products__space">
      <img src="./images/Mobile/mobile-icecreams@1x.jpg" alt="lody" />
      <figcaption class="products__ice">
        <p class="products__title">ice cream</p>
        <p class="products__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
        </p>
        <svg width="40px" height="16px" class="products__icons">
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </figcaption>
    </figure>
    <figure class="products__space">
      <img src="./images/Mobile/mobile-coffee@1x.jpg" alt="lody" />
      <figcaption class="products__coffee">
        <p class="products__title">ice coffee</p>
        <p class="products__text">
          Fragrant invigorating drink created from 100% natural ingredients without the use of
          preservatives and flavor enhancers
        </p>
        <svg width="40px" height="16px" class="products__icons">
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </figcaption>
    </figure>
    <figure class="products__space">
      <img src="./images/Mobile/mobile-milkshake@1x.jpg" alt="lody" />
      <figcaption class="products__milkshake">
        <p class="products__title">milkshakes</p>
        <p class="products__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and
          other sweets of your choice
        </p>
        <svg width="40px" height="16px" class="products__icons">
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </figcaption>
    </figure>
  </div>
</section>
