<div class="modal-products is-hidden" id="myModal">
  <button class="modal-products__exit close">
    <svg width="20px" height="20px">
      <use href="./images/icons.svg#icon-close-line"></use>
    </svg>
  </button>
  <p class="modal-products__text">Chololate icecream</p>
  <div class="modal-products__flex">
    <picture>
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/modal/modal-mobile-chocolate-ice@1x.jpg 1x,
          ./images/modal/modal-mobile-chocolate-ice@2x.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/modal/modal-chocolate-ice@1x.jpg 1x,
          ./images/modal/modal-chocolate-ice@2x.jpg 2x
        "
      />

      <img
        src="./images/modal/modal-mobile-chocolate-ice@1x.jpg"
        alt="chocolate ice"
        type="jpg"
        class="modal-products__img"
      />
    </picture>
    <div>
      <ul class="modal-products__list">
        <li class="modal-products__list__item">
          <p class="modal-products__list__elipse">320</p>
          <p>Kcal</p>
        </li>
        <li class="modal-products__list__item">
          <p class="modal-products__list__elipse">4g</p>
          <p>Prote...</p>
        </li>
        <li class="modal-products__list__item">
          <p class="modal-products__list__elipse">8,2g</p>
          <p>Fats</p>
        </li>
        <li class="modal-products__list__item">
          <p class="modal-products__list__elipse">40,4g</p>
          <p>Carbs</p>
        </li>
      </ul>

      <p class="modal-products__second-text">Ingredients</p>

      <ul class="modal-products__ingredients">
        <li class="modal-products__list-flex">
          <p class="modal-products__ingredients__list">Milk</p>
          <p class="modal-products__ingredients__list">100ml</p>
        </li>
        <li class="modal-products__list-flex">
          <p class="modal-products__ingredients__list">Belgian chocolate</p>
          <p class="modal-products__ingredients__list">20g</p>
        </li>
        <li class="modal-products__list-flex">
          <p class="modal-products__ingredients__list">Cream</p>
          <p class="modal-products__ingredients__list">150 ml</p>
        </li>
        <li class="modal-products__list-flex">
          <p class="modal-products__ingredients__list">Cocoa powder</p>
          <p class="modal-products__ingredients__list">30g</p>
        </li>
        <li class="modal-products__list-flex">
          <p class="modal-products__ingredients__list">Sugar</p>
          <p class="modal-products__ingredients__list">40g</p>
        </li>
        <li class="modal-products__list-flex">
          <p class="modal-products__ingredients__list">Vanilla sugar</p>
          <p class="modal-products__ingredients__list">10g</p>
        </li>
      </ul>
      <form class="modal-products__form">
        <input name="Name" placeholder="Name" />
        <input name="phone" placeholder="Phone" />
        <textarea placeholder="Comment"></textarea>
        <button type="submit" class="modal-products__button">Submit</button>
      </form>
    </div>
  </div>
</div>
