<div class="read-more-modal read-more-modal--hidden" read-more-modal>
  <div class="read-more-modal__window">
    <button type="button" class="read-more-modal__button-close" read-more-modal-close>
      <svg class="read-more-modal__cross-icon">
        <use href="./images/icons.svg#icon-close-line"></use>
      </svg>
    </button>
    <h3 class="read-more-modal__title">How it's made?</h3>
    <div class="read-more-modal__video-window">
      <iframe
        class="read-more-modal__video"
        id="videoHowItsMade"
        no-referrer
        title="How It's Actually Made - Ice Cream"
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        src="https://youtu.be/8WEMZ86Eho8"
      ></iframe>
    </div>
    <p class="read-more-modal__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et
    </p>
  </div>
</div>
