<div class="read-more-modal read-more-modal--hidden" read-more-modal>
  <div class="read-more-modal__window">
    <button type="button" class="read-more-modal__button-close" read-more-modal-close>
      <svg class="read-more-modal__cross-icon">
        <use href="./images/icons.svg#icon-close-line"></use>
      </svg>
    </button>
    <h3 class="read-more-modal__title">How it's made?</h3>
    <div class="read-more-modal__video-window">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/8WEMZ86Eho8"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
    <p class="read-more-modal__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et
    </p>
  </div>
</div>
