
.btn-product {
  padding: 0.6875em 1.625em;
  // width: 6.7rem;
  // height: 2.375em;
  flex-shrink: 0;
  border: 2px solid #f8d24e;
  border-radius: 0.5rem;
  &:hover {
    border-color: #0A8817;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
.button {
  @include font(14px, 600, null, 1.29);
  border-radius: 10px;
  padding: 12px 34px;
  display: inline-flex;
  align-items: center;
  color: $button-text-color;
  background-color: $button-background-color;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

  &:focus {
    color: $secondary-background-color;
  }

  &__arrow {
    margin-left: 4px;
    fill: currentColor;
  }

  &:hover,
  &:focus {
    background-color: $button-border-hover;
  }

  &:focus {
    filter: drop-shadow(0 0 0 $tablet-header-description-color);
  }

  &:disabled {
    background-color: $hours-mobile-text-color;
  }

  &--bg-transperent {
    background-color: transparent;
    border: 2px solid $button-background-color;

    &:hover {
      background-color: transparent;
      border-color: $button-border-hover;
    }

    &:focus {
      background-color: transparent;
      color: $secondary-background-color;
      border-color: $button-border-hover;
    }

    &:disabled {
      background-color: transparent;
      border-color: $hours-mobile-text-color;
    }
  }
}
