.section__contact {
  padding: 0 0 60px 0;
}
.contact__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contact__item {
  padding: 40px 32px 24px 32px;
  width: 280px;
  background-color: $secondary-background-color;
  border-radius: 24px;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.contact-component__item {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }

  &:nth-child(2) {
    padding: 24px 0;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
  }
}

.contact-component__text {
  color: $primary-text-color;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.86;
  letter-spacing: 0.04em;

  &--category {
    line-height: 1.2;

    display: inline-block;
    padding: 4px 22px;
    background-color: $button-background-color;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-radius: 4px;
  }
  &--adress {
    color: #d6936d;
    line-height: 1.83;
    padding-top: 8px;
  }

  &--time {
    padding-bottom: 8px;
    color: $hours-mobile-text-color;
  }
}

.contact-component__tel,
.contact-component__email {
  color: $primary-text-color;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.04em;
  gap: 6px;
}

.contact-btn__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.contact-btn__item {
  width: 196px;
  height: 42px;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
.contact-btn__btn {
  color: $primary-text-color;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
  background-color: $button-background-color;

  &--franchise {
    background-color: transparent;
    border: 2px solid $button-background-color;
  }
}
