.products {
    background-image: url(../images/Mobile/mobile-mainbackgr@1x.jpg);
    background-position: cover;

    @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/Mobile/mobile-mainbackgr@2x.jpg);
    }

    @include tablet {
        background-image: url(../images/Tablet/tablet-mainbackgr@1x.jpg);

        @media screen and (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/Tablet/tablet-mainbackgr@2x.jpg);
        }
    }

    @include desktop {
        background-image: url(../images/Desktop/desktop-mainbackgr@1x.jpg);

        @media screen and (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/Desktop/desktop-mainbackgr@2x.jpg);
        }
    }

    &__main-text {
        font-size: $fs18;
        font-family: $montserrat-fonts ;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        padding-top: 60px;

        @include tablet {
            font-size: $fs22;
        }

        @include desktop {
            font-size: $fs30;
        }
    }

    &__main-title {
        font-family: $seymour-fonts;
        font-size: $fs30;
        font-weight: 400;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        margin-block: 12px 40px;
        text-align: center;

        @include tablet {
            margin-block: 12px 80px;
            font-size: $fs34;
        }

        @include desktop {
            font-size: $fs36;
        }
    }

    &__flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include tablet {
            flex-direction: row;
            gap: 16px;
        }

        @include desktop {
            gap: 29px;
        }
    }

    &__space {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    &__ice {
        position: relative;
        top: -90px;
        background-color: $first-product-card-color;
        max-width: 320px;
        height: 428px;
        border-radius: 24px;
        padding-inline: 60px;

        @include tablet {
            padding-inline: 26px;
        }

        @include desktop {
            padding-inline: 64px;
            height: 536px;
            max-width: 370px;
            position: relative;
            top: -140px;
        }

    }

    &__coffee {
        position: relative;
        top: -90px;
        background-color: $second-product-card-color;
        max-width: 320px;
        height: 428px;
        border-radius: 24px;
        padding-inline: 60px;

        @include tablet {
            padding-inline: 26px;
        }

        @include desktop {
            padding-inline: 64px;
            height: 536px;
            max-width: 370px;
            position: relative;
            top: -140px;
        }

    }

    &__milkshake {
        position: relative;
        top: -90px;
        background-color: $third-product-card-color;
        max-width: 320px;
        height: 428px;
        border-radius: 24px;
        padding-inline: 60px;

        @include tablet {
            padding-inline: 26px;
        }

        @include desktop {
            position: relative;
            top: -140px;
            padding-inline: 64px;
            height: 536px;
            max-width: 370px;
        }

    }

    &__title {
        color: $primary-text-color;
        padding-top: 126px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        font-weight: 700;
        font-size: $fs20 ;
        font-family: $montserrat-fonts ;

        @include tablet {
            padding-top: 108px;
            font-size: $fs22;
        }

        @include desktop {
            padding-top: 168px;
            font-size: $fs30;
        }

    }

    &__text {
        color: $primary-text-color;
        text-align: center;
        font-family: $montserrat-fonts ;
        font-weight: 400;
        font-size: $fs14;
        letter-spacing: 0.56px;
        line-height: 1.71;
        padding-block: 40px 93px;

        @include tablet {
            padding-block: 40px 78px;
            ;
        }

        @include desktop {
            padding-block: 66px 126px;
        }

    }

    &__icons {
        position: absolute;
        left: 44%;
        bottom: 16px;
        cursor: pointer;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover{
            transform: scale(1.8);
        }

        @include mobile_2 {
            left: 140px;
        }

        @include tablet {
            bottom: 12px;
            left: 93px;
        }

        @include desktop {
            bottom: 60px;
            left: 165px;
        }

    }

    &__img {
        display: block;
        position: relative;
        border-radius: 50%;
        z-index: 1;

        &__one {
            position: inherit;
            z-index: 1;
            box-shadow: 0px 16px 0px 0px $first-product-shadow-color;
            border-radius: 50%;
        }

        &__two {
            position: inherit;
            z-index: 1;
            box-shadow: 0px 16px 0px 0px $second-product-shadow-color;
            ;
            border-radius: 50%;
        }

        &__three {
            position: inherit;
            z-index: 1;
            box-shadow: 0px 16px 0px 0px $third-product-shadow-color;
            border-radius: 50%;
        }
    }

}