.products {
    background-image: url(../images/mobile/mobile-mainbackgr@1x.jpg);
    background-position: cover;

    @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/mobile/mobile-mainbackgr@2x.jpg);
    }

    @include tablet {
        background-image: url(../images/tablet/tablet-mainbackgr@1x.jpg);

        @media screen and (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/tablet/tablet-mainbackgr@2x.jpg);
        }
    }

    @include desktop {
        background-image: url(../images/desktop/desktop-mainbackgr@1x.jpg);

        @media screen and (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/desktop/desktop-mainbackgr@2x.jpg);
        }
    }

    &__main-text {
        font-size: $fs18;
        font-family: $montserrat-fonts ;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        padding-top: 60px;

        @include tablet {
            font-size: $fs22;
        }

        @include desktop {
            font-size: $fs30;
        }
    }

    &__main-title {
        font-family: $seymour-fonts;
        font-size: $fs30;
        font-weight: 400;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        margin-block: 12px 40px;
        text-align: center;

        @include tablet {
            margin-block: 12px 80px;
            font-size: $fs34;
        }

        @include desktop {
            font-size: $fs36;
        }
    }

    &__flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include tablet {
            flex-direction: row;
            gap: 16px;
        }

        @include desktop {
            gap: 29px;
        }
    }

    &__space {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }


    &__ice {
        position: relative;
        bottom: 80px;
        background-color: $first-product-card-color;
        max-width: 320px;
        height: 428px;
        border-radius: 24px;
        padding-inline: 60px;
        transition: transform 250ms cubic-bezier(0.215, 0.610, 0.355, 1);
        
        &:hover,
        &focus {
            transform: scale(1.04);
        }

        @include tablet {
            padding-inline: 26px;
        }

        @include desktop {
            padding-inline: 64px;
            height: 536px;
            max-width: 370px;
            position: relative;
            top: -130px;
        }

    }

    &__coffee {
        position: relative;
        bottom: 80px;
        background-color: $second-product-card-color;
        max-width: 320px;
        height: 428px;
        border-radius: 24px;
        padding-inline: 60px;
        transition: transform 250ms cubic-bezier(0.215, 0.610, 0.355, 1);
        &:hover,
        &focus{
            transform: scale(1.04);
        }

        @include tablet {
            padding-inline: 26px;
        }

        @include desktop {
            padding-inline: 64px;
            height: 536px;
            max-width: 370px;
            position: relative;
            top: -130px;
        }

    }

    &__milkshake {
        position: relative;
        bottom: 80px;
        background-color: $third-product-card-color;
        max-width: 320px;
        height: 428px;
        border-radius: 24px;
        padding-inline: 60px;
        transition: transform 250ms cubic-bezier(0.215, 0.610, 0.355, 1);
        &:hover,
        &focus {
            transform: scale(1.04);
        }

        @include tablet {
            padding-inline: 26px;
        }

        @include desktop {
            position: relative;
            top: -130px;
            padding-inline: 64px;
            height: 536px;
            max-width: 370px;
        }

    }

    &__title {
        color: $primary-text-color;
        padding-top: 126px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        font-weight: 700;
        font-size: $fs20 ;
        font-family: $montserrat-fonts ;

        @include tablet {
            padding-top: 108px;
            font-size: $fs22;
        }

        @include desktop {
            padding-top: 168px;
            font-size: $fs30;
        }

    }

    &__text {
        color: $primary-text-color;
        text-align: center;
        font-family: $montserrat-fonts ;
        font-weight: 400;
        font-size: $fs14;
        letter-spacing: 0.56px;
        line-height: 1.71;
        padding-block: 40px 93px;

        @include tablet {
            padding-block: 40px 78px;
            ;
        }

        @include desktop {
            padding-block: 66px 126px;
        }

    }

    &__icons {
        background-color: transparent;
        position: absolute;
        left: 44%;
        bottom: 16px;
        border: none;
        transition: transform 400ms ease-in-out;

        &:hover,
        &:focus {
            transform: translate(50%) scale(1.4);
        }

        @include mobile_2 {
            left: 140px;
        }

        @include tablet {
            bottom: 12px;
            left: 93px;
        }

        @include desktop {
            bottom: 60px;
            left: 165px;
        }

    }

    &__img {
        display: block;
        position: relative;
        border-radius: 50%;
        z-index: 2;   
    }

}
.products__picture-overlay {
    position: relative;
    z-index: 1;
    border-radius: 50%;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #000;
        border-radius: 50%;
        padding-bottom: 80%;
        position: absolute;
        top: 11px;
        left: 50%;
        transform: translateX(-50%);
        @include tablet{
            top: 12px;
        }
        @include desktop{
            top: 16px;
        }
    }
}
.products__picture-overlay__one::before {
    background-color: $first-product-shadow-color;
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
}
.products__picture-overlay__two::before {
    background-color: $second-product-shadow-color;
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
}
.products__picture-overlay__three::before {
    background-color: $third-product-shadow-color;
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
}
//$first-product-shadow-color; $second-product-shadow-color;$third-product-shadow-color; 
