.about {
  background-color: $primary-background-color;
  background-repeat: no-repeat;
      padding-bottom: 39px;
      align-items: center;
    &__label {
      line-height: 1.17em;
      text-align: center;
      text-transform: uppercase;
      color: $secondary-background-color;
      font-family: $montserrat-fonts;
      @include font($fs18, $fw700, 0, 37.2px);
      margin-top: 61px;
  
      @include desktop {
        @include font($fs30, $fw800, 1.2, 0)
      }
    }
    &__img {
      position: absolute;
      border-radius: 50%;
      max-width: 279px;
      width: 100%;
      height: auto;
      margin-top: 30px;
      margin-bottom: 120px;
      @include mobile_2{
          width: 100%;
          height: auto;
    }
      @include tablet {
      max-width: 330px;
      height: auto;
      margin-top: 33px;
      @include desktop {
      max-width: 490px;
      height: auto;
      margin-top: 40px;
    }
  }}
    &__main-title {
      @include font($fs30, $fw400, 0, 37.2px);
      line-height: 1.15;
      text-align: center;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      width: 200px;
      margin: auto;
      margin-bottom: 20px;
      font-family: $seymour-fonts;
      color: $secondary-background-color;
      @include tablet {
      width: auto;
      margin-bottom: 0;
      }
      @include desktop {
      @include font($fs36, $fw400, 2.16, 0);
      margin: 50px 0 0px 0;
      }
  }
    &__picture {
      position: relative;
      display: flex;
      flex-direction: row;
      // justify-content: space-between;
      max-width: 100%;
      height: auto;
      top: 20px;
      @include tablet {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin: auto 0 0 auto;
      }}
      &__picture-container {
      background-color: rgba(248, 210, 78, 0.9)
    }
      &__picture-container {
        position: absolute;
        top: 0;
        width: 279px;
        height: 279px;
        display: flex;
        z-index: 10;
        border-radius: 50%;
        left:  calc(50% - 139px);
        @include mobile_2 {
        top: 0;
        left: calc(50% - 139px);
        }
        @include tablet {
          width: 330px;
          height: 330px;
          left: 0;
          top: 50px;
        }
        @include desktop {
          width: 490px;
          height: 490px;
          left: calc(43% - 490px);
          top: 60px;
        }}
          &::before {
            content: "";
            width: 100%;
        height: auto;
            position: absolute;
            border-radius: 50%;
            z-index: 10;
            box-shadow: rgba(248, 210, 78, 0.9) 0px -25px 0px 0px;
            @include tablet {    
                left: 100px;
                top: 50px;
          }
   
      }
        &__description {
          color: $secondary-background-color;
          margin: 48px auto auto;
          // top: 340px;
          display: block;
  
          max-width: 220px;
          @include tablet {
            display: flex;
            flex-direction: column;
            max-width: 334px;
            justify-content: flex-end;
            margin: 80px 0 32px 30px;
            }
          @include desktop {
              max-width: 463px;
              margin: 75px 105px 0 0;
            }
        }
      
      &__description--text {
        font-family: $montserrat-fonts;
        justify-content: center;
        text-align: center;
        @include font ($fs12, $fw400, 0, 162%);
        @include tablet {
          @include font ($fs12, $fw400, 0.48, 194%);
          text-align: left;
          justify-content: flex-end;
        }
        @include desktop {
          // justify-content: flex-end;
          @include font ($fs16, $fw400, 0.56, 194%)
        
        }
          }
  
  &__description--text:first-child {
    margin:  300px 0 7px 0;
    @include font ($fs12, $fw400, 0.48, 176%);
    @include tablet {
    margin: 0 0 7px 0;
      @include font ($fs12, $fw400, 0.48, 176%);
    }
    @include desktop{
      @include font ($fs16, $fw400, 0.64, 176%);
      margin: 80px 0 0;
  }}
  &__description--text:nth-child(2) {
  margin-bottom: 5px;
  @include tablet {
    @include font ($fs12, $fw400, 0.64, 176%)
  }
  @include desktop {
    @include font ($fs14, $fw400, 0.56, 194%)
  }
  }
  &__button {
      width: 164px;
      height: 42px;
      background-color: $button-background-color;
      color: $button-text-color;
      font-family: $montserrat-fonts;
      border-radius: 11px;
      color: $button-text-color;
      border: none;
      font-style: normal;
      display: flex; 
      top: 50px;
      justify-content: center;
      text-align: center;
      padding: 12px 0 0 30px;
      margin: 24px auto auto;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      // margin-top: 17px;
      @include font($fs14, $fw600, 0, 1.28);
      @include tablet {
        margin: 35px 0 0 0;
      }
    }
    &__button:hover {
      background: $button-border-hover;
    }
    &__button:focus {
      background: $button-border-hover;
      color: $tablet-header-description-color;
    }
    &__buton:disabled {
      color: $button-text-color;
      background-color: $hours-mobile-text-color;
    }
  &__icon {
    fill: currentColor;
  margin: 3px auto auto 3px;
  }
  }