.about {
background-color: $primary-background-color;
background-repeat: no-repeat;
    padding-bottom: 39px;
    align-items: center;
    // margin: 0 15px 0 15px;

  &__label {
    line-height: 1.17em;
    text-align: center;
    text-transform: uppercase;
    color: $secondary-background-color;
    font-family: $montserrat-fonts;
    @include font($fs18, $fw700, 0, 37.2px);
    margin-top: 61px;
  }
    &__img {
position: absolute;
margin: 20px 0 0 0;
left: 20px;
width: auto;
height: auto;

z-index: 1;
border-radius: 50%;
box-shadow:  rgba(248, 210, 78, 0.7), 0px -25px 0px 0px;

}
    &__main-title {
    @include font($fs30, $fw400, 0, 37.2px);
    line-height: 1.15;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    margin-bottom: 26px;
    font-family: $seymour-fonts;
    color: $secondary-background-color;
}
    &__picture {
      display: flex;
      justify-content: center;
    }

    &__description {
        color: $secondary-background-color;
      top: 340px;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        max-width: 220px;
    }
    &__description--text {
      font-family: $montserrat-fonts;
      justify-content: center;
      text-align: center;
      @include font ($fs12, $fw400, 0, 162%)
        }

&__description--text:first-child {
  margin-top:  340px;
  @include font ($fs12, $fw400, 0.48, 176%)
}
&__description--text:last-child {
  margin-top: 8px;
}
    &__button {
    width: 176px;
    height: 44px;
    background-color: $button-background-color;
    border-radius: 15px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1, 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    padding: 0;
    margin: auto;
    margin-top: 17px;
  }}