.modal__tradition {

    &__video--height {
        height: 199px;
        margin-bottom: 20px;
    }
    }
.modal__button-close {
        fill: $primary-text-color;
    }

.about__modal {
    height: 100%;
    max-height: 459px;
    }