.advantages {
    position: relative;
    display: flex;
    justify-content: center;
    color: $secondary-background-color;
    background-color: $primary-background-color;
    font-family: $montserrat-fonts, $seymour-fonts;
    padding-top: 50px;
    margin-bottom: -20px;

    @include desktop {
        padding-top: 100px;
        margin-bottom: 20px;
    }

    &__title {
        opacity: 0;
        font-size: 0;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 28px;
        margin: 0 auto;

        @include tablet {
            flex-direction: row;
            gap: 80px;
        }

        @include desktop {
            flex-direction: row;
            gap: 32px;
        }
    }

    &__icon {
        display: inline-flex;
        background-color: $button-background-color;
        fill: $primary-text-color;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        padding: 7px;
    }

    &__item {
        text-align: center;
    }

    &__number {
        font-size: 36px;
        font-weight: bold;
        margin-top: 22px;
        margin-bottom: 16px;
        letter-spacing: 4%;

        @include tablet {
            font-size: 48px;
            margin-top: 32px;
            margin-bottom: 12px;
        }

        @include desktop {
            font-size: 58px;
            margin-top: 40px;
            margin-bottom: 12px;
        }
    }

    &__text {
        font-size: 12px;
        line-height: 170%;
        letter-spacing: 0%;

        @include tablet {
            font-size: 14px;
            line-height: 174%;
            letter-spacing: 0%;
        }

        @include desktop {
            font-size: 16px;
            line-height: 176%;
            letter-spacing: 2%;
        }
    }

    & figure {
        max-width: 230px;
        height: 166px;
        margin: 0;

        @include tablet {
            max-width: 152px;
            height: 241px;
        }

        @include desktop {
            max-width: 368px;
            height: 225px;
        }
    }
}
