.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 30;
}
.modal-loc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $secondary-background-color;
  width: 95%;
  max-width: 280px;
  height: 95%;
  max-height: 365px;
  overflow: scroll;
  border-radius: 10px;
  border: 2px solid $button-background-color;
  padding: 28px;

  &__close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 20px;
    height: 20px;
    background-color: $secondary-background-color;
    cursor: pointer;
  }

  @include tablet {
    width: 100%;
    max-width: 568px;
    min-height: 458px;
    padding: 32px 60px;
  }

  &__title {
    text-align: center;
    font-family: $seymour-fonts;
    @include font(16px, 400, null, 1.5);
    margin-bottom: 20px;

    @include tablet {
      @include font(20px, 400, null, 1.4);
      margin-bottom: 32px;
    }
  }

  &__frame {
    width: 224px;
    height: 199px;
    margin-bottom: 24px;

    @include tablet {
      width: 448px;
      height: 260px;
      margin-bottom: 32px;
    }
  }
  &__btn {
    display: block;
    padding: 12px 0;
    background-color: $button-background-color;
    @include font(14px, 600, null, normal);
    border-radius: 10px;
    color: inherit;
    margin-left: auto;
    margin-right: auto;
    width: 134px;
    height: 42px;
    text-align: center;

    @include tablet {
      width: 145px;
    }
  }
}

// FRANCHISE

.modal-fran {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $secondary-background-color;
  width: 95%;
  max-width: 280px;
  height: 95%;
  max-height: 674px;
  overflow: scroll;
  border-radius: 10px;
  border: 2px solid $button-background-color;
  padding: 28px;

  &__close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 20px;
    height: 20px;
    background-color: $secondary-background-color;
    cursor: pointer;
  }

  @include tablet {
    width: 100%;
    max-width: 568px;
    min-height: 668px;
    padding: 32px 60px;
  }

  &__title {
    text-align: center;
    font-family: $seymour-fonts;
    @include font(16px, 400, null, 1.5);
    margin-bottom: 24px;

    @include tablet {
      @include font(20px, 400, null, 1.4);
      margin-bottom: 32px;
    }
  }

  &__text {
    @include font(12px, 400, null, 1.4);
    margin-bottom: 24px;

    @include tablet {
      font-size: 14px;
      margin-bottom: 32px;
    }
  }
}

.modal-fran {
  &__form {
    color: $primary-text-color;
  }

  &__input {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 32px;
    margin-bottom: 12px;
    padding: 8px 12px;
    outline: none;
    background-color: rgba(248, 210, 78, 0.1);
    border: solid 1px $primary-background-color;
    border-radius: 10px;
    @include font(12px, null, null, 1.4);
    text-align: left;
    color: $primary-text-color;

    @include tablet {
      width: 368px;
      height: 42px;
      padding: 11px 16px;
      margin-bottom: 16px;
    }
  }

  &__comment {
    resize: none;
    height: 64px;
    margin-bottom: 24px;

    @include tablet {
      height: 84px;
      margin-bottom: 32px;
    }
  }
}

.header-buy-modal__input::placeholder {
  color: $primary-text-color;
}

.header-buy-modal__input:not(:placeholder-shown):invalid {
  border-color: red;
}

.submit-btn {
  display: flex;
  width: 114px;
  height: 42px;
  margin-right: auto;
  margin-left: auto;
  @include font(12px, null, null, 1.17);
  border: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
