.section__contact {
    padding: 0 0 60px 0;
}

.contact__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact__item {
    padding: 40px 32px 24px 32px;
    width: 280px;
    background-color: $secondary-background-color;
    border-radius: 24px;
    box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);

    &:not(:last-child) {
        margin-bottom: 16px;
    }
}

.contact-component__item {
    margin-bottom: 24px;

    &:nth-child(2) {
        padding: 24px 0;
        border-top: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
    }
}

.contact-component__text {
    color: $primary-text-color;
    font-size: 12px;
    font-weight: 500;
    line-height: 186%;
    letter-spacing: 0.04em;

    &--category {
        line-height: 120%;

        display: inline-block;
        padding: 4px 22px;
        background-color: $button-background-color;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        text-transform: uppercase;
        border-radius: 4px;
    }

    &--adress {
        color: #d6936d;
        line-height: 183%;
        margin-top: 8px;
    }
}