.fill {
        background-image: url(../images/mobile/mobile-mainbackgr@1x.jpg);
}

.customer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 150px 0 450px;
    @include tablet {
        margin: 175px 0 250px;
        }
    @include desktop {
        margin: 200px 0 250px;
        }

    & img {
        border-radius: 50%;
        overflow: hidden;

    }
    & div {
        display: flex;
        justify-content: center;
        background-color: $primary-background-color;
        max-width: 280px;
        border-radius: 10px;

        @include tablet {
            width: calc(100vw - 63px);
            max-width: 1013px;
        }

        & p {
            @include font($fs12, $fw400, 0, 30.6px);
            display: flex;
            text-align: center;
            align-items: center;
            color: $secondary-background-color;
            margin: 30px;

            @include tablet {
                @include font($fs14, $fw500, 0, 26.4px);
                }
            @include desktop {
                @include font($fs16, $fw500, 0, 26.4px);
                }
        }
    }

    & span {
            @include font($fs20, $fw500, 0, 37.2px);
    }
}

.swiper-pagination {
    padding-bottom: 410px;
    @include tablet {
        margin: 0 0 -220px;
        }
    
    &-bullet {
        width: 12px;
        height: 12px;
    }
    &-bullet-active {
        background-color: #84a178;
    }
}
