

.fill {
        background-image: url(../images/Mobile/mobile-mainbackgr@1x.jpg);
}

.customer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: -50px 0 50px;
        gap: 20px;

    &__icecrem {
        position: relative;
        justify-content: center;
        bottom: 30px;
        max-width: 1013px;
    }

    &__foto {
        border-radius: 50%;
        overflow: hidden;

    }
    &__reviews {
        display: flex;
        justify-content: center;
        background-color: $primary-background-color;
        max-width: 280px;
        border-radius: 10px;

        @include tablet {
            max-width: 1013px;
        }

        & p {
            @include font($fs12, $fw400, 0, 30.6px);
            display: flex;
            text-align: center;
            align-items: center;
            color: $secondary-background-color;
            margin: 30px;

            @include tablet {
                @include font($fs14, $fw500, 0, 26.4px);
                }
            @include desktop {
                @include font($fs16, $fw500, 0, 26.4px);
                }
        }
    }

    &__name {
            @include font($fs20, $fw500, 0, 37.2px);
    }

    &__buttons {
        
        & ul {
        display: flex;
        flex-direction: row;
        gap: 20px;

            & button {
                width: 14px;
                height: 14px;

                background-color: $client-opinions-nav;
            }
        }
    }
}