.pg-footer {
  background-color: $primary-background-color;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 82px;
    height: 1px;
    width: 100%;
    background-color: $horizontal-line-color;

    @include tablet {
      bottom: 50px;
    }

    @include desktop {
      bottom: 44px;
      width: 1168px;
      left: calc((100vw - 1168px) / 2);
    }
  }

  &__main-wrapper {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__slogan-wrapper {
    width: 232px;
    padding-top: 60px;

    @include tablet {
      padding-block: 40px 32px;
      width: 50%;
    }

    @include desktop {
      padding-block: 120px 60px;
    }
  }

  &__slogan {
    @include font($fs18, $fw700, 0, 1.11);
    color: $secondary-background-color;

    @include tablet {
      @include font($fs26, $fw700, 1.04px, normal);
    }

    @include desktop {
      @include font($fs30, $fw400, 1.2px, normal);
    }

    &--accent {
      font-family: $montserrat-fonts;
      @include font($fs34, $fw700, 1.36px, normal);
      color: $secondary-background-color;
      margin-top: 16px;

      @include tablet {
        @include font($fs48, $fw700, 2.88px, normal);
        margin-top: 8px;
      }

      @include desktop {
        @include font($fs58, $fw700, 3.48px, normal);
        margin-top: 14px;
      }
    }
  }

  &__find-us-wrapper {
    padding-block: 60px 40px;

    @include tablet {
      padding-block: 100px 60px;
    }

    @include desktop {
      padding-block: 138px 60px;
    }
  }

  &__contact-phone {
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
    padding-top: 20px;

    @include tablet {
      padding-top: 34px;
    }

    @include desktop {
      padding-top: 40px;
    }
  }

  &__cta-phone {
    font-family: $montserrat-fonts;
    @include font($fs12, $fw700, 0, 1.86);
    color: $primary-text-color;

    @include tablet {
      @include font($fs14, $fw700, 0, 1.86);
    }

    @include desktop {
      @include font($fs16, $fw700, 0.32px, 1.86);
    }
  }

  &__phone-no-link {
    font-family: $montserrat-fonts;
    @include font($fs12, $fw700, 0, 1.86);
    color: $secondary-background-color;
    transform: scale(1);
    transition: transform 250ms ease-in-out;

    @include tablet {
      @include font($fs14, $fw700, 0, 1.86);
    }

    @include desktop {
      @include font($fs16, $fw700, 0.32px, 1.86);
    }

    &:focus {
      transform: scale(1.1);
    }

    &:hover {
      @include desktop {
        transform: scale(1.1);
      }
    }
  }

  &__copyrights-wrapper {
    padding-block: 20px;
    text-align: center;

    @include tablet {
      padding-block: 12px;
    }
  }

  &__copyrights-text {
    color: $all-rights-text-color;
    font-family: $montserrat-fonts;
    @include font($fs14, $fw700, 0, 1.52);

    @include tablet {
      @include font($fs14, $fw700, 0.28px, 1.52);
      display: inline;
    }

    @include desktop {
      @include font($fs12, $fw700, 0.24px, 1.86);
    }
  }
}
