.icecrem {
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;

    &__foto {
        position: relative;
        justify-content: center;
        overflow: hidden;
        border-radius: 10px;
        @include tablet {
            border-radius: 20px;
        }
        @include desktop {
            border-radius: 25px;
        }
    }
}