.pg-header {
  padding-top: 20px;
  align-items: center;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__nav {
    display: flex;
    @media (max-width: 1199px) {
      display: none;
    }
  }
  &__menu-button {
    width: 32px;
    height: 32px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
    margin-left: auto;
    margin-right: 32px;
    background-color: green;

    @media (max-width: 480px) {
      margin-right: 0px;
    }

    @media (min-width: 1200px) {
      display: none;
    }
  }
}

.pg-header__logo-mobile.pg-header__ise-logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.pg-header-nav {
  &__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
  }
  &__link {
    display: inline-block;
  }
  &__item:not(:last-child) {
    margin-right: 28px;
  }
}

.modal__cross.pg-header__modal-cros {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}
