.header-buy-modal {
  padding: 28px 28px 29px 28px;
  background-color: $secondary-background-color;

  @include tablet {
    padding: 32px 54px;
  }

  &__title {
    margin-bottom: 83px;
    text-align: center;
    color: $primary-text-color;
    font-family: $seymour-fonts;
    @include font(16px, 400, null, 1.5);

    @include tablet {
      @include font(20px, null, null, 1.4);

      margin-bottom: 103px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 84px;
    margin-bottom: 31px;

    @include tablet {
      flex-direction: row;
      justify-content: center;
      gap: 32px;
      margin-bottom: 40px;
    }
  }

  &__product {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 21px;
    width: 132px;
    height: 136px;
    border: solid 2px;
    border-radius: 10px;
    color: $primary-text-color;
    font-family: $montserrat-fonts;
    @include font(16px, 700, null, 1.25);
    font-style: bold;
    text-transform: uppercase;
    text-align: center;

    @include tablet {
      height: 135px;
    }
  }

  &__checkbox {
    appearance: none;
    position: absolute;
  }

  &__checkbox:checked + .header-buy-modal__product--ice {
    background-color: $produckt-modal-first-item;
  }

  &__checkbox:checked + .header-buy-modal__product--coffee {
    background-color: $second-product-card-color;
  }

  &__checkbox:checked + .header-buy-modal__product--shake {
    background-color: $third-product-card-color;
  }
}

.header-buy-modal.modal {
  height: 100%;
  max-height: 991px;

  @include tablet {
    max-width: 568px;
    max-height: 644px;
  }
}

.icon-close {
  width: 24px;
  height: 20px;

  @include tablet {
    width: 24px;
    height: 24px;
  }
}

.product-img {
  position: absolute;
  background-size: cover;
  max-width: 132px;
  max-height: 132px;
  top: -7px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-buy-modal__product:before {
  content: '';
  position: absolute;
  background-size: cover;
  width: 132px;
  height: 132px;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.header-buy-modal__product--ice {
  border-color: $produckt-modal-first-item;
}

.header-buy-modal__product--ice:before {
  background: linear-gradient(0deg, $first-product-shadow-color, $first-product-shadow-color),
    $client-opinions-nav;
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
}

.header-buy-modal__product--coffee {
  border-color: $second-product-card-color;
}

.header-buy-modal__product--coffee:before {
  background: linear-gradient(
      0deg,
      $produckt-modal-second-item-shadow,
      $produckt-modal-second-item-shadow
    ),
    $client-opinions-nav;
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}

.header-buy-modal__product--shake {
  border-color: $third-product-card-color;
}

.header-buy-modal__product--shake:before {
  background: linear-gradient(
      0deg,
      $produckt-modal-third-item-shadow,
      $produckt-modal-third-item-shadow
    ),
    $client-opinions-nav;
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}

.header-buy-modal__form {
  color: $primary-text-color;
}

.header-buy-modal__input {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 32px;
  margin-bottom: 12px;
  padding: 8px 12px;
  outline: none;
  background-color: rgba(248, 210, 78, 0.1);
  border: solid 1px $primary-background-color;
  border-radius: 10px;
  @include font(12px, null, null, 1.4);
  text-align: left;
  color: $primary-text-color;

  @include tablet {
    width: 368px;
    height: 42px;
    padding: 11px 16px;
    margin-bottom: 16px;
  }
}

.header-buy-modal__input::placeholder {
  color: $primary-text-color;
}

.header-buy-modal__input:not(:placeholder-shown):invalid {
  border-color: purple;
}

.header-buy-modal__comment {
  resize: none;
  height: 65px;
  margin-bottom: 26px;

  @include tablet {
    height: 84px;
    margin-bottom: 32px;
  }
}

.submit-btn {
  display: flex;
  width: 114px;
  height: 42px;
  margin-right: auto;
  margin-left: auto;
  @include font(12px, null, null, 1.17);
  border: none;
}
