.hdr {
  padding: 24px 0 25px;
  border-bottom: 1px solid #ececec;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.1428;
  &__flex {
    gap: 94px;
  }
  &__menu-list {
    gap: 46px;
  }
  // &__menu-item {
  // }
  &__menu-link {
    color: var(--color-text-dark);
  }
  &__menu-link:hover,
  &__menu-link:focus,
  &__menu-link:active {
    color: var(--color-text-primary);
  }
}

.is-active {
  position: relative;
  color: var(--color-text-primary);
}
.is-active::after {
  content: '';
  position: absolute;
  display: block;
  top: 2.875rem;
  width: 100%;
  height: 4px;
  background-color: var(--color-text-primary);
  border-radius: 2px;
}

