.modal-products {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: $tablet-header-description-color;
    visibility: visible;
    display: block;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 2;
    border-radius: 20px;
    overflow: auto;

    @include tablet {
        top: 30px;
        width: 568px;  
        margin: 0 auto;
        overflow: auto;
    }

    &__text {
        text-align: center;
        font-family: $seymour-fonts;
        font-size: $fs20;
        padding-top: 28px;
        padding-inline: 69px;
        line-height: 1.4;
        color: $primary-text-color;

        @include tablet {
            padding-inline: 128px;
        }
    }

    &__exit {
        background-color: transparent;
        position: absolute;
        top: 12px;
        right: 12px;
        border: none;
    }

    &__flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__img {
        padding-top: 20px;
        box-shadow: 0px 7px 0px 0px $first-product-shadow-color;
        margin: 0 auto;
        border-radius: 70px;

    }

    &__list {
        display: flex;
        flex-direction: row;
        gap: 9px;
        text-align: center;
        justify-content: center;
        margin: 0;
        margin-top: 29px;
        padding: 0;

        &__item {
            display: flex;
            flex-direction: column;
            border-radius: 40px;
            border: 2px solid $ingredients-ellipse-color;
            width: 53px;
            height: 72px;
            justify-content: space-around;

            & p {
                font-family: $montserrat-fonts;
                font-size: 10px;
                padding-bottom: 8px;
            }

            @include tablet {
                width: 65px;
                height: 90px;

                & p {
                    font-size: $fs12;
                    font-weight: 500;
                }
            }

        }

        &__elipse {
            position: relative;
            top: -4px;
            right: -4px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 25px;
            background-color: $ingredients-ellipse-color;
            width: 43px;
            height: 43px;
            padding-top: 8px;

            @include tablet {
                width: 53px;
                height: 53px;
            }

        }
    }

    &__second-text {
        font-family: $montserrat-fonts;
        font-weight: 500;
        font-size: $fs20;
        text-align: center;
        color: $primary-text-color;
        padding-top: 40px;

    }

    &__ingredients {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-inline: 20px;
        padding: 0;
        gap: 11px;
        margin-block: 24px 0;

        @include tablet {
            margin-inline: 40px;
        }

        &__list {

            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            line-height: 1.76;
            letter-spacing: 0.56px;

        }
    }

    &__list-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-inline: 20px;
        margin-top: 40px;

        & input {
            padding: 11px;
            border-radius: 10px;
            border: 1px solid $primary-background-color;
            background: $input-background-color;
            font-family: $montserrat-fonts;
            font-size: $fs14;
            margin: 0 auto;
            width: 368px;
        }

        & textarea {
            padding: 11px;
            border-radius: 10px;
            border: 1px solid $primary-background-color;
            background: $input-background-color;
            font-family: $montserrat-fonts;
            font-size: $fs14;
            resize: none;
            height: 84px;
            @include tablet{
                width: 368px;
                margin: 0 auto;
            }
        }
    }

    &__button {
        border-radius: 10px;
        background-color: $button-background-color;
        padding: 10px 34px;
        margin: 24px 74px 28px;
        border: none;
        color: $primary-text-color;
        text-align: center;
        font-family: $montserrat-fonts;
        font-size: $fs14;
        font-weight: 600;

        &:hover {
            background-color: $button-border-hover ;
        }

        &:focus {
            background-color: $button-border-hover ;
            color: $secondary-background-color;
        }
        @include tablet {
            margin: 32px 199px;
            padding: 12px 32px;
        }
    }
}

.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}